<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_ball_33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_33_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{3,0},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_33_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{139,138}</string>
			<key>spriteSourceSize</key>
			<string>{139,138}</string>
			<key>textureRect</key>
			<string>{{6,0},{139,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_33_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-1}</string>
			<key>spriteSize</key>
			<string>{147,146}</string>
			<key>spriteSourceSize</key>
			<string>{148,148}</string>
			<key>textureRect</key>
			<string>{{146,0},{147,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_ball_33-uhd.png</string>
		<key>size</key>
		<string>{294,146}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_ball_33-uhd.png</string>
	</dict>
</dict>
</plist>
